<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fruit.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="fruit-details">
        <h1><%= fruit.name %></h1>
        <% if (fruit.isReadyToEat) { %>
         <p>This fruit is ready to Eat!</p>
       <% } else { %>
            <p>This fruit is NOT ready to Eat!</p>
        <% } %>
    </div>

    <div class="fruit-actions">
        <!-- delete fruit  -->
        <form class="delete-form" action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
            <button class="delete-button" type="submit">Delete <%= fruit.name %></button>
        </form>
    
        <!-- edit -->
        <a class="edit-link" href="/fruits/<%= fruit._id %>/edit">
            <div class="edit-text">
                Edit <%= fruit.name %>
            </div>
        </a>


    </div>
    
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
    </a>
</body>
</html>